<h2>Viewing the <%= @gallery.name %> gallery </h2>

<A href="/galleries/<%= @gallery.id %>/edit">Edit_Gallery</a>

<ul>
  <% @images.each do |image| %>
    <img src="<%= image.url %>" />
  <% end %>
</ul>
