<form action="/galleries" method="POST">
  <label for="gallery_name">Gallery name</label>
  <input id="gallery_name" tyoe="text" name=gallery[name]" />

  <div>
    <input type="submit" value="Create gallery">
  </div>
</form>
